/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */
/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body { 
    text-align: center;
    background-color:burlywood;
}
#para1{
    font-weight: bolder;
    font-size: 20px;
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}

h1{
    font-size: calc(42px + (90 - 42) * ((100vw - 320px) / (1600 - 320)));  
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
    font-family:'Playfair Display', serif;
}

h2 {
    font-size: calc(38px + (64 - 38) * ((100vw - 320px) / (1600 - 320)));  
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: calc(38px + (64 - 38) * ((100vw - 320px) / (1600 - 320)));  
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color:rgb(224, 83, 17);
    font-family: 'Playfair Display', serif;
}

p {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));  
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
}

img{
    margin-bottom: 32px;
    border-radius: 30px;
    box-shadow: 8px 10px 8px #888;

}
